doctype html
html(lang='en')
  head
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-150319569-3')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-150319569-3');
    title ditCraft - Expert Code Reviews Made Simple
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // ===============================================================================================
    link(rel='icon', type='image/png', href='images/icons/favicon.ico')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap/css/bootstrap.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='css/util.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    // ===============================================================================================
  body
    .container-contact100
      .wrap-contact100
        form.contact100-form.validate-form
          span.contact100-form-title
            | Congrats! You have submitted your code for reviewing!
          p Our community reviews your code. We send the results in 24-48h to your email address. Please refer to 
            span#reference.font-weight-bold
            |  in case of any problem.
    // ===============================================================================================
    script(src='vendor/jquery/jquery-3.2.1.min.js')
    script.
      var urlParams = new URLSearchParams(window.location.search);
      console.log(urlParams.get('id'));
      $('#reference').text("#" + urlParams.get('id'));